@charset "utf-8";
@import url("../common/css/reset.css");

.mapbox {
  margin-top: 50px;
  margin-left: 50px;
}

.routebox {
  margin: 20px 0 20px 50px;
}

#search {
  margin-left: 20px;
}

#clear {
  margin-left: 20px;
}

#target {
  width: 800px;
  height: 800px;
}

.lt {
  margin-top: 30px;
}